html,
body {
  margin: 0;
  padding: 0;
  width: 100%; }

html {
  box-sizing: border-box; }

html * {
  box-sizing: inherit; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

@keyframes widthEffect {
  0% {
    width: 86%;
    left: 7%;
    right: 7%; }
  50% {
    width: 94%;
    left: 3%;
    right: 3%; }
  85% {
    width: 76%;
    left: 12%;
    right: 12%; }
  100% {
    width: 86%;
    left: 7%;
    right: 7%; } }
@keyframes widthEffectTab {
  0% {
    width: 20%;
    left: 40%;
    right: 40%; }
  50% {
    width: 22%;
    left: 39%;
    right: 39%; }
  85% {
    width: 18%;
    left: 41%;
    right: 41%; }
  100% {
    width: 20%;
    left: 40%;
    right: 40%; } }
@keyframes hoverButton {
  30% {
    transform: scale(1.1); }
  70% {
    transform: scale(0.9); }
  100% {
    transform: scale(1); } }
@keyframes flipButton {
  from {
    transform: rotateZ(0deg); }
  to {
    transform: rotateZ(360deg); } }
.large-header {
  margin: 0 auto;
  width: 100%;
  background-image: url("../../img/bg-header.jpg");
  background-size: auto 100%;
  background-position: center 0;
  background-repeat: no-repeat; }

.container {
  width: 71%;
  margin: 0 auto;
  padding: 0; }

.top-header {
  width: 100%;
  padding: 63px 13px 0;
  background-color: #FFF; }
  .top-header::after {
    clear: both;
    content: "";
    display: table; }

.top-header__list {
  float: right;
  margin-bottom: 8px; }

.top-header__list-item {
  display: inline-block;
  margin-right: 30px; }

.top-header__head {
  font-family: "open_sanslight";
  font-size: 14px;
  color: #797f7f;
  margin-bottom: 3px;
  padding-left: 16px;
  position: relative; }
  .top-header__head_geo:before {
    content: "";
    display: block;
    height: 13px;
    width: 10px;
    position: absolute;
    left: 0;
    top: 5px;
    background-image: url("../img/geo.png"); }
  .top-header__head_tel:before {
    content: "";
    display: block;
    height: 8px;
    width: 11px;
    position: absolute;
    left: 0;
    top: 7px;
    background-image: url("../img/tel.png"); }
  .top-header__head_mail:before {
    content: "";
    display: block;
    height: 8px;
    width: 11px;
    position: absolute;
    left: 0;
    top: 7px;
    background-image: url("../img/mail.png"); }

.top-header__text {
  font-family: "open_sansregular";
  font-size: 13px;
  color: #2f343a; }

.main-navigation {
  width: 100%;
  padding-top: 14px;
  margin-bottom: 180px;
  background-color: #232020; }
  .main-navigation::after {
    clear: both;
    content: "";
    display: table; }
  .main-navigation:hover {
    cursor: default; }

.main-navigation__menu {
  float: left;
  width: 87%; }

.main-navigation__menu-item {
  display: inline-block; }

.main-navigation__menu-link {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 19px 20px;
  background-color: #232020;
  font-family: "open_sanssemibold";
  font-size: 13px;
  color: #fff;
  text-transform: uppercase; }
  .main-navigation__menu-link:after {
    content: "";
    display: block;
    height: 4px;
    width: 86%;
    position: absolute;
    left: 7%;
    right: 7%;
    bottom: 0;
    background-color: #f17398;
    opacity: 0;
    -webkit-transition: opacity 0.8s;
    transition: opacity 0.8s; }
  .main-navigation__menu-link:hover {
    color: #fff;
    text-decoration: none; }
  .main-navigation__menu-link:hover:after {
    opacity: 1;
    -webkit-transition: opacity 0.8s;
    transition: opacity 0.8s;
    animation-name: widthEffect;
    animation-duration: 0.4s; }

.social {
  float: right;
  width: 13%;
  margin-top: -2px;
  padding-bottom: 21px; }

.social__list-item {
  display: inline-block;
  vertical-align: bottom;
  margin-right: 14px; }
  .social__list-item:last-child {
    margin-right: 0; }

.social__link_fb {
  display: block;
  width: 9px;
  height: 17px;
  background: url("../../img/fb.png") no-repeat;
  background: url("../../img/fb.svg") 100% 100% no-repeat; }

.social__link_in {
  display: block;
  width: 19px;
  height: 17px;
  background: url("../../img/in.png") no-repeat;
  background: url("../../img/in.svg") no-repeat; }

.social__link_be {
  display: block;
  width: 20px;
  height: 12px;
  background: url("../../img/be.png") no-repeat;
  background: url("../../img/be.svg") 100% 100% no-repeat; }

.header-info {
  padding: 24px 18px;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.8); }

.header-info__header {
  font-family: "open_sanssemibold";
  font-size: 22px;
  line-height: 1.45;
  color: #2f343a;
  margin-bottom: 22px; }

.header-info__text {
  font-family: "open_sanslight";
  font-size: 15px;
  line-height: 1.67;
  color: #232020;
  color: rgba(35, 32, 32, 0.6);
  margin-bottom: 11px; }

.know-more {
  width: 118px;
  padding: 10px 20px;
  margin-bottom: 160px;
  background-color: #f17398;
  border: none;
  border-bottom: 3px solid #db577e;
  font-family: "open_sansbold";
  color: #fff;
  font-size: 12px; }
  .know-more:hover {
    background-color: #ff739D; }
  .know-more:active {
    border-bottom: 3px solid transparent; }

.search-galleries {
  min-height: 55px; }

.search-button {
  width: 55px;
  height: 55px;
  border: none;
  outline: none;
  float: left;
  background: #121111 url("../img/search.png") center center no-repeat; }
  .search-button:hover {
    animation-name: hoverButton;
    animation-duration: 0.3s; }
  .search-button:active {
    animation-name: flipButton;
    animation-duration: 0.8s; }

.search-text {
  float: left;
  background-color: #232020;
  text-transform: uppercase;
  font-family: "open_sansbold";
  font-size: 17px;
  color: #fff;
  min-width: 260px;
  min-height: inherit;
  padding: 18px 30px 0; }

/*# sourceMappingURL=main.css.map */
