/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1400px) {
	.main-navigation__menu-link {
		padding: 0 10px 20px;
	}
}

@media only screen and (max-width : 1200px) {
	.main-navigation {
		margin-bottom: 80px;
	}

	.know-more {
		margin-bottom: 100px;
	}

	.social {
		float: none;
		margin: 10px auto 0;
	}
	.main-navigation__menu {
		float: none;
		width: 100%;
		text-align: center;
	}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.top-header {
		padding-top: 30px;
	}

	.main-navigation {
		margin-bottom: 60px;
	}

	.know-more {
		margin-bottom: 50px;
	}

	.top-header__list {
		float: none;
		padding: 0 15px;
		text-align: justify;		
	}

	.top-header__list:after {
		content: "";
		display: inline-block;
		width: 100%;
		height: 0;
		margin: 0;
		padding: 0;
	}

	.top-header__list-item {
		margin: auto;
	}

	.main-navigation__menu-item {
		display: block;
		width: 100%;
		text-align: center;
	}

	.main-navigation__menu-link {
		padding: 10px 0;	
	}

	.main-navigation__menu-link:after {
		width: 20%;
		left: 40%;
		right: 40%;
	}

	.main-navigation__menu-link:hover:after {
		animation-name: widthEffectTab;
	}
		
	.social {
		display: none;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.know-more {
		float: right;
	}

	.top-header__list-item {
		display: block;
		text-align: center;
	}

	.top-header__head:before {
		display: none;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}