@import "../../../node_modules/bourbon/app/assets/stylesheets/_bourbon.scss"
$button-color: #f17398

html,
body
	margin: 0
	padding: 0
	width: 100%

html
	box-sizing: border-box

html *
	box-sizing: inherit

ul
	list-style: none
	padding: 0
	margin: 0

a
	text-decoration: none

// Animations

@keyframes widthEffect
	0%   
		width: 86%
		left: 7%
		right: 7%
	50%  
		width: 94%
		left: 3%
		right: 3%
	85%  
		width: 76%
		left: 12%
		right: 12%
	100% 
		width: 86%
		left: 7%
		right: 7%

@keyframes widthEffectTab
	0%   
		width: 20%
		left: 40%
		right: 40%
	50%  
		width: 22%
		left: 39%
		right: 39%
	85%  
		width: 18%
		left: 41%
		right: 41%
	100% 
		width: 20%
		left: 40%
		right: 40%

@keyframes hoverButton
	30%  
		transform: scale(1.1)
	70% 
		transform: scale(0.9)
	100% 
		transform: scale(1.0)

@keyframes flipButton
	from
		transform: rotateZ(0deg)
	to
		transform: rotateZ(360deg)